= render 'shared/side_bar'



.chatspace
  .chatspace__top
    .chatspace__top__information.clearfix
      %h2.chatspace__top__information__title
        = @chat.name
      = link_to edit_chat_path(@chat), class: "chatspace__top__information__edit" do
        ="Edit"
    %h3.chatspace__top__member
      = "MEMBER:" + "#{chat_user_names(@chat)}"


  .chatspace__main
    .chatspace__main__chat-list
      = render @messages



  .chatspace__message-sender
    .chatspace__message-sender__contents
      = form_for [@chat, @message],id: "new_message" do |f|
        = f.text_field :message, class: 'chatspace__message-sender__contents__box', placeholder: 'type a message'
        = f.label :image, class: 'chatspace__message-sender__contents__box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chatspace__message-sender__contents__button'
