.sidemenu

  .sidemenu__profile
    .sidemenu__profile__content
      .sidemenu__profile__content__name
        = current_user.name
      = link_to new_chat_path,style:"color:white;",class:"sidemenu__profile__content__new-chat" do
        = fa_icon 'pencil-square-o', class: 'icon'
      = link_to edit_user_path(current_user),style:"color:white;",class:"sidemenu__profile__content__settings" do
        = fa_icon 'cog', class: 'icon'



  .sidemenu__chatroom-list
    .sidemenu__chatroom-list__each
      - current_user.chats.each do |chat|
        = link_to chat_messages_path(chat),style:"color:white;" do
          %h3.sidemenu__chatroom-list__each__title
            = chat.name
          %h4.sidemenu__chatroom-list__each__recent-message
            = chat.show_last_message

