.sidemenu

  .sidemenu__profile
    %h2.sidemenu__profile__name
      = current_user.name
    %h2.sidemenu__profile__settings
      = link_to edit_users_path(current_user) do
        = fa_icon 'cog', class: 'icon'
    %h2.sidemenu__profile__new-chat
      = link_to new_chats_path do
        = fa_icon 'pencil-square-o', class: 'icon'


  .sidemenu__chatroom-list
    .sidemenu__chatroom-list__each
      - current_user.chats.each do |chat|
        = hidden_field_tag :chat_id, chat.id
        = link_to chats_messages_path(chat) do
          %h3.sidemenu__chatroom-list__each__title
            = chat.name
          %h4.sidemenu__chatroom-list__each__recent-message
            = chat.show_last_message

